{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <!-- <div class="selector-box">
        <label for="c1"> <input type="checkbox" name="color" value="red" id="c1">Red</label>
        <label for="c2"><input type="checkbox" name="color" value="green" id="c2"> Green</label>
        <label for="c3"><input type="checkbox" name="color" value="blue" id="c3">Blue</label>
        <button id="btn">Get Selected Colors</button>
    </div> -->
    {{ fig1 | safe}}
    {{ fig2 | safe}}
</div>

{% endblock %}