{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about-section">
    <h1>Exoplanet Extract</h1>
    <p class="paragraph">The goal of this website is to build various graphs based on the data provided by <a href="https://exoplanetarchive.ipac.caltech.edu/index.html">NASA Exoplant Archive</a> to see the potential relations between data points, see trends, or an overview on expoplants.</p> 
    <ul>
        <li class="span"><b>Stellar Hosts</b> - graphs related to the stars that contain these exoplanets.</li>
        <li class="span"><b>Exoplanets</b> - graphs related to exoplanets themsevles and there relation to others.</li>
        <li class="span"><b>Stellar Hosts</b> - graphs related to the trends on the number of exoplanets discovered.</li>
    </ul>
</div>

{% endblock %}